<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>简历帮</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.min.css" rel="stylesheet">
    <!-- Local CSS -->
    <link href="static/css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="static/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">简历帮</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">主页</a></li>
            <li><a href="#about">关于</a></li>
            <li><a href="#contact">联系</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">帮助 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


      <div class="jumbotron">
        <h1 align="center">简历帮，简历棒</h1>
        <p align="center">最贴心的在线简历编辑器，全心全意只为你</p>
        <div class="logo"></div>
        <div class="domain">
          <input type="text" value="" placeholder="wgx998877" class="form-control">
          <div class="dfixed">.jianlibang.com</div>
          <a href="resume.html" class="btn btn-lg btn-primary btn-start">开始制作</a>
        </div>
      </div>
    <!-- /.container -->

    <div class="container">

      <div class="row mar-bot40">
        <div class="col-lg-4" >
          <div class="align-center">
                        <img src="static/img/file-pdf-o.png" width="86" class="mar-bot20" />
                        <h4 class="text-bold">MarkDown书写
                        实时预览</h4>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="align-center">
                        <img src="static/img/file.png" width="86" class="mar-bot20" />
            <h4 class="text-bold">备受好评的简历模板</h4>
          </div>
        </div>

        <div class="col-lg-4" >
          <div class="align-center">
                        <img src="static/img/lock.png" width="86" class="mar-bot20" />
                        <h4 class="text-bold">支持阅读密码
                        和部分信息密码可见</h4>
          </div>
        </div>
      </div>

      <div class="row mar-bot40">
        <div class="col-lg-4" >
          <div class="align-center">
                        <img src="static/img/file-pdf-o.png" width="86" class="mar-bot20" />
                        <h4 class="text-bold">一键输出为PDF</h4>
          </div>
        </div>
        <div class="col-lg-4" >
          <div class="align-center">
                        <img src="static/img/qrcode.png" width="86" class="mar-bot20" />
                        <h4 class="text-bold">扫码索取完整简历</h4>
          </div>
        </div>


        <div class="col-lg-4" >
          <div class="align-center">
            <img class="mar-bot20" width="86" src="static/img/mobile.png" />
            <h4 class="text-bold">简历完美适配移动页面</h4>
          </div>
        </div>


      </div>

    </div>



    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>

  </body>
</html>
