.logo{
  width: 236px;
  height: 181px;
  margin: 0 auto 26px;
  overflow: hidden;
  text-indent: -9999em;
  background: url("../img/logo-mask-2x.png") center 0 no-repeat;
  background-size: 236px 181px;
}
h4{
	font-weight: 900;
	font-size: 18px;
}
div.align-center{
	text-align: center;
}
.domain{
	display: block;
	margin-left: 30%;
}
.domain input{
	height: 100%;
	font-size: 30px;
	width: 20%;
	display: inline;
}
.domain span{
	font-size: 30px;
	border: 2px green;
}
.btn-start{
	margin-top: 0px;
	margin-right: 10px;
	height: 100%;
	font-size: 30px;
	display: inline;
}